In [80]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [81]:
DATA_PATH = os.path.join(os.getcwd(),'data','pokemon.csv')
df = pd.read_csv(DATA_PATH)
df.sample()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
615,"['Hydration', 'Shell Armor', 'Overcoat']",1.0,1.0,1.0,1.0,1.0,0.5,2.0,2.0,1.0,...,50.0,616,40,65,25,bug,NaN,7.7,5,0

In [82]:
df.isnull().any()

abilities            False
against_bug          False
against_dark         False
against_dragon       False
against_electric     False
against_fairy        False
against_fight        False
against_fire         False
against_flying       False
against_ghost        False
against_grass        False
against_ground       False
against_ice          False
against_normal       False
against_poison       False
against_psychic      False
against_rock         False
against_steel        False
against_water        False
attack               False
base_egg_steps       False
base_happiness       False
base_total           False
capture_rate         False
classfication        False
defense              False
experience_growth    False
height_m              True
hp                   False
japanese_name        False
name                 False
percentage_male       True
pokedex_number       False
sp_attack            False
sp_defense           False
speed                False
type1                False
type2                 True
weight_kg             True
generation           False
is_legendary         False
dtype: bool

In [83]:
df.isnull().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [84]:
df.isna().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [85]:
categorical_features = [cat for cat in df.columns if df[cat].dtype == 'O']
categorical_features

['abilities',
 'capture_rate',
 'classfication',
 'japanese_name',
 'name',
 'type1',
 'type2']

In [86]:
numerical_features = [cat for cat in df.columns if df[cat].dtype != 'O']
numerical_features

['against_bug',
 'against_dark',
 'against_dragon',
 'against_electric',
 'against_fairy',
 'against_fight',
 'against_fire',
 'against_flying',
 'against_ghost',
 'against_grass',
 'against_ground',
 'against_ice',
 'against_normal',
 'against_poison',
 'against_psychic',
 'against_rock',
 'against_steel',
 'against_water',
 'attack',
 'base_egg_steps',
 'base_happiness',
 'base_total',
 'defense',
 'experience_growth',
 'height_m',
 'hp',
 'percentage_male',
 'pokedex_number',
 'sp_attack',
 'sp_defense',
 'speed',
 'weight_kg',
 'generation',
 'is_legendary']

In [87]:
for c in categorical_features:
    if df[c].isna().any() : 
        df[c].fillna('UNKONWN',inplace=True)

In [88]:
df[categorical_features].isna().sum()

abilities        0
capture_rate     0
classfication    0
japanese_name    0
name             0
type1            0
type2            0
dtype: int64

In [89]:
for c in numerical_features:
    if df[c].isna().any() : 
        df[c].fillna(np.mean(df[c]),inplace=True)

In [90]:
df[numerical_features].isna().sum()

against_bug          0
against_dark         0
against_dragon       0
against_electric     0
against_fairy        0
against_fight        0
against_fire         0
against_flying       0
against_ghost        0
against_grass        0
against_ground       0
against_ice          0
against_normal       0
against_poison       0
against_psychic      0
against_rock         0
against_steel        0
against_water        0
attack               0
base_egg_steps       0
base_happiness       0
base_total           0
defense              0
experience_growth    0
height_m             0
hp                   0
percentage_male      0
pokedex_number       0
sp_attack            0
sp_defense           0
speed                0
weight_kg            0
generation           0
is_legendary         0
dtype: int64

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           801 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    801 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              801 non-null    object
 38  weight_kg          801 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

In [92]:
df.sample()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
492,['Multitype'],1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,...,55.155761,493,120,120,120,normal,UNKONWN,320.0,4,1

In [93]:
df[categorical_features].sample(3)

,abilities,capture_rate,classfication,japanese_name,name,type1,type2
721,"['Overgrow', 'Long Reach']",45,Grass Quill Pokémon,Mokurohモクロー,Rowlet,grass,flying
403,"['Rivalry', 'Intimidate', 'Guts']",120,Spark Pokémon,Luxioルクシオ,Luxio,electric,UNKONWN
304,"['Sturdy', 'Rock Head', 'Heavy Metal']",90,Iron Armor Pokémon,Kodoraコドラ,Lairon,steel,rock

#### Encoding Data

In [94]:
from sklearn.preprocessing import LabelEncoder
#from sklearn.impute import SimpleImputer
lr = LabelEncoder()

In [95]:
for c in categorical_features:
   df[c] = lr.fit_transform(df[c])

In [96]:
df[categorical_features]

     abilities  capture_rate  classfication  japanese_name  name  type1  type2
0          243            25            448            199    72      9     14
1          243            25            448            200   320      9     14
2          243            25            448            198   744      9     14
3           21            25            298            287    94      6      0
4           21            25            186            416    95      6      0
..         ...           ...            ...            ...   ...    ...    ...
796         11            19            282            699    89     16      8
797         11            20            148            336   335      9     17
798         11             7            269             11   284      1      3
799        288            21            390            515   460     14      0
800        358            21             13            429   398     16      5

[801 rows x 7 columns]

In [97]:
df.sample(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
15,192,0.5,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,...,50.000000,16,35,35,56,12,8,1.8,1,0
771,10,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,...,55.155761,772,95,95,59,12,0,120.5,7,0
340,133,1.0,1.0,1.0,2.0,1.0,1.0,0.5,1.0,1.0,...,50.000000,341,50,35,35,17,0,11.5,3,0

### Satndarization vs Normalization

In [98]:
df = pd.read_csv(os.path.join(os.getcwd(),'data','titanic_train.csv'))
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [101]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [102]:
from sklearn.impute import SimpleImputer

In [103]:
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [104]:
cat_col = [c for c in df.columns if df[c].dtype == 'O']

In [105]:
cat_col

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [106]:
num_col = [c for c in df.columns if df[c].dtype != 'O']

In [107]:
num_col

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [109]:
df[cat_col].isna().sum()

Name          0
Sex           0
Ticket        0
Cabin       687
Embarked      2
dtype: int64

In [121]:
for c in cat_col:
    if df[c].isna().any():
        df.loc[:,c] = mode_imputer.fit_transform(df[c].values.reshape(-1, 1))

In [122]:
df[cat_col].isna().sum()

Name        0
Sex         0
Ticket      0
Cabin       0
Embarked    0
dtype: int64

In [123]:
for c in num_col:
    if df[c].isna().any():
        df[c] = mean_imputer.fit_transform(df[c].values.reshape(-1, 1))

In [125]:
df[num_col].isna().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [126]:
df.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
667,668,0,3,"Rommetvedt, Mr. Knud Paust",male,29.699118,0,0,312993,7.775,B96 B98,S

In [127]:
lenc = LabelEncoder()

In [128]:
for c in cat_col:
    df[c] = lenc.fit_transform(df[c])

In [131]:
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
571,572,1,1,36,0,53.0,2,0,60,51.4792,48,2
586,587,0,2,395,1,47.0,0,0,129,15.0000,47,2
268,269,1,1,305,0,58.0,0,1,588,153.4625,57,2

In [132]:
unnecessary_features = ['PassengerId','Name', 'Ticket', 'Cabin']
df.drop(unnecessary_features, axis=1, inplace=True)

In [134]:
df.sample(3)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
874         1       2    0  28.0      1      0  24.0000         0
877         0       3    1  19.0      0      0   7.8958         2
712         1       1    1  48.0      1      0  52.0000         2

### Splitting Data

In [135]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [136]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [137]:
min_max_scl = MinMaxScaler()
X_scl = min_max_scl.fit_transform(X)

In [138]:
X_scl

array([[1.        , 1.        , 0.27117366, ..., 0.        , 0.01415106,
        1.        ],
       [0.        , 0.        , 0.4722292 , ..., 0.        , 0.13913574,
        0.        ],
       [1.        , 0.        , 0.32143755, ..., 0.        , 0.01546857,
        1.        ],
       ...,
       [1.        , 0.        , 0.36792055, ..., 0.33333333, 0.04577135,
        1.        ],
       [0.        , 1.        , 0.32143755, ..., 0.        , 0.0585561 ,
        0.        ],
       [1.        , 1.        , 0.39683338, ..., 0.        , 0.01512699,
        0.5       ]])

In [139]:
stand_scl = MinMaxScaler()
X_scl = stand_scl.fit_transform(X)

In [140]:
X_scl

array([[1.        , 1.        , 0.27117366, ..., 0.        , 0.01415106,
        1.        ],
       [0.        , 0.        , 0.4722292 , ..., 0.        , 0.13913574,
        0.        ],
       [1.        , 0.        , 0.32143755, ..., 0.        , 0.01546857,
        1.        ],
       ...,
       [1.        , 0.        , 0.36792055, ..., 0.33333333, 0.04577135,
        1.        ],
       [0.        , 1.        , 0.32143755, ..., 0.        , 0.0585561 ,
        0.        ],
       [1.        , 1.        , 0.39683338, ..., 0.        , 0.01512699,
        0.5       ]])