In [9]:
import nltk
from nltk.stem import wordnet, PorterStemmer, WordNetLemmatizer
from nltk import pos_tag, word_tokenize, sent_tokenize
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
text = [
    'Hello my name is james, this is my python notebook',
    'this is my python notebook',
    'james trying to create a big dataset',
    'james of words to try differnt',
    'features of count vectorizer'
    ]

In [21]:
count_vectorizer = CountVectorizer()
count_vectorizer_matrix = count_vectorizer.fit_transform(text)
count_vectorizer_array = count_vectorizer_matrix.toarray()
df = pd.DataFrame(count_vectorizer_array, columns=count_vectorizer.get_feature_names_out())
df

,big,count,create,dataset,differnt,features,hello,is,james,my,name,notebook,of,python,this,to,try,trying,vectorizer,words
0,0,0,0,0,0,0,1,2,1,2,1,1,0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,1,0,0,0,0,0
2,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,1,0,0,1
4,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0

#### lowercase by default True , set it to false

In [22]:
count_vectorizer = CountVectorizer(lowercase = False)
count_vectorizer_matrix = count_vectorizer.fit_transform(text)
count_vectorizer_array = count_vectorizer_matrix.toarray()
df = pd.DataFrame(count_vectorizer_array, columns=count_vectorizer.get_feature_names_out())
df

,Hello,big,count,create,dataset,differnt,features,is,james,my,name,notebook,of,python,this,to,try,trying,vectorizer,words
0,1,0,0,0,0,0,0,2,1,2,1,1,0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,1,0,0,0,0,0
2,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0,1
4,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0

#### StopWords
- Cusome Stop Words

In [23]:
count_vectorizer = CountVectorizer(lowercase = False, stop_words=['is', 'to', 'my'])
count_vectorizer_matrix = count_vectorizer.fit_transform(text)
count_vectorizer_array = count_vectorizer_matrix.toarray()
df = pd.DataFrame(count_vectorizer_array, columns=count_vectorizer.get_feature_names_out())
df

,Hello,big,count,create,dataset,differnt,features,james,name,notebook,of,python,this,try,trying,vectorizer,words
0,1,0,0,0,0,0,0,1,1,1,0,1,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0
2,0,1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1
4,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0

- Sklearn Stop Words List

In [24]:
count_vectorizer = CountVectorizer(lowercase = False, stop_words='english')
count_vectorizer_matrix = count_vectorizer.fit_transform(text)
count_vectorizer_array = count_vectorizer_matrix.toarray()
df = pd.DataFrame(count_vectorizer_array, columns=count_vectorizer.get_feature_names_out())
df

,Hello,big,count,create,dataset,differnt,features,james,notebook,python,try,trying,vectorizer,words
0,1,0,0,0,0,0,0,1,1,1,0,0,0,0
1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
2,0,1,0,1,1,0,0,1,0,0,0,1,0,0
3,0,0,0,0,0,1,0,1,0,0,1,0,0,1
4,0,0,1,0,0,0,1,0,0,0,0,0,1,0

In [27]:
count_vectorizer.vocabulary_

{'Hello': 0,
 'james': 7,
 'python': 9,
 'notebook': 8,
 'trying': 11,
 'create': 3,
 'big': 1,
 'dataset': 4,
 'words': 13,
 'try': 10,
 'differnt': 5,
 'features': 6,
 'count': 2,
 'vectorizer': 12}

In [31]:
count_vectorizer.get_feature_names_out()

array(['Hello', 'big', 'count', 'create', 'dataset', 'differnt',
       'features', 'james', 'notebook', 'python', 'try', 'trying',
       'vectorizer', 'words'], dtype=object)