In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [8]:
DATA_PATH = os.path.join(os.getcwd(),'data','insurance.csv')
df = pd.read_csv(DATA_PATH)
df.isna().sum()

age         1
sex         0
bmi         4
children    0
smoker      0
region      3
charges     0
dtype: int64

# Lectures Notes

- Data Have Two Shape ( Numerical ,Categorical )
- Model Only understant Numerical Data
- So We have to shape our data to be in the form of numerical 
- numerical not mean the data just simply numerical ( Numer With meaning ) - { Male => 1 , Female => 0} 
    that's mean we represent male with value **One** And Female with value **Zero**
- So data need to be prprocessed firist to be ready for doing mathematical calculation and get model equation

# Preprocessing can be done with steps one after one
- First We Need To Fix Null values
- This Simply Called Encoding
  <ul>
      <li> 1 - <span style='font-weight:bold'> Label Encoding</span> Feature Have Meaning , Ex :  Grades</li>
      <li> 1 - <span style='font-weight:bold'>One Hot Encoding</span> Features Not Figured Ex : Colors , Gender </li>
  </ul>

<ul>
    <li>1 - Fixing Null Numerical Values With Mean or Median based on **outliers** </li>
    <li>2 - Fixing Categrical Values With Mode </li>
</ul>

- Scale Values
<ul>
    <li>1 - StandardScaler , MinMaxScaler</li>
</ul>

# Practice

In [13]:
df.isna().sum()

age         1
sex         0
bmi         4
children    0
smoker      0
region      3
charges     0
dtype: int64

## Filing null data ( Empty Data )

In [14]:
from sklearn.impute import SimpleImputer

In [89]:
mean_imputer = SimpleImputer(strategy='mean',missing_values=np.nan)
mode_imputer = SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [33]:
df.head()

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

In [39]:
df['region'].mode()

0    southeast
Name: region, dtype: object

In [58]:
df['age'] = mean_imputer.fit_transform(df['age'].values.reshape(-1,1))
df['bmi'] = mean_imputer.fit_transform(df['bmi'].values.reshape(-1,1))

<h1 style='color:red'> Issue :- df['region'] = mode_imputer.fit_transform(df['region'].values.reshape(-1, 1))   </h1>
<h2>It wan't see the column like this , see it not found columns </h2>
<h2 style='color:green'>down it work  df.loc[:,'region'] = mode_imputer.fit_transform(df['region'].values.reshape(-1, 1))</h2>

In [105]:
df.loc[:,'region'] = mode_imputer.fit_transform(df['region'].values.reshape(-1, 1))

In [107]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

## Encoding Data

In [109]:
df.head(1)

    age     sex   bmi  children smoker     region    charges
0  19.0  female  27.9         0    yes  southwest  16884.924

### Sex ,  Smoker , region ( Categorical Data need to be transfered to numerical values )
## Label Encoding, One Hot Encoding

In [110]:
from sklearn.preprocessing import LabelEncoder

In [111]:
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])

In [112]:
df.head()

    age  sex     bmi  children  smoker     region      charges
0  19.0    0  27.900         0       1  southwest  16884.92400
1  18.0    1  33.770         1       0  southeast   1725.55230
2  28.0    1  33.000         3       0  southeast   4449.46200
3  33.0    1  22.705         0       0  northwest  21984.47061
4  32.0    1  28.880         0       0  northwest   3866.85520

## Encode region with One Hot Encoding , And Drop One Of The Columns , reflect That On DataFrame (df)
## All Of That Can be Done Using get_dummies

<h3 style='color:blue'> From The Lecture By Default Encode Value With True And False , Must Be Like This 
 <br /> <br />  &nbsp;&nbsp;df = pd.get_dummies(df,drop_first=True,dtype='i') </h3>

In [129]:
df = pd.get_dummies(df,drop_first=True,dtype='i')

In [131]:
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,19.0,0,27.900,0,1,16884.92400,0,0,1
1,18.0,1,33.770,1,0,1725.55230,0,1,0
2,28.0,1,33.000,3,0,4449.46200,0,1,0
3,33.0,1,22.705,0,0,21984.47061,1,0,0
4,32.0,1,28.880,0,0,3866.85520,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50.0,1,30.970,3,0,10600.54830,1,0,0
1334,18.0,0,31.920,0,0,2205.98080,0,0,0
1335,18.0,0,36.850,0,0,1629.83350,0,1,0
1336,21.0,0,25.800,0,0,2007.94500,0,0,1
1337,61.0,0,29.070,0,1,29141.36030,1,0,0

# Scalling Data
- First We Need To Isolate The Output  ( Need To Predict it )
- Scall Data Using  **(StandardScaler,MinMaxScaler)**

In [132]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [134]:
x = df.drop(['charges'],axis=1)

In [135]:
y = df['charges']

In [138]:
scl = MinMaxScaler()
x_scaled = scl.fit_transform(x)
x_scaled

array([[0.02173913, 0.        , 0.3212268 , ..., 0.        , 0.        ,
        1.        ],
       [0.        , 1.        , 0.47914985, ..., 0.        , 1.        ,
        0.        ],
       [0.2173913 , 1.        , 0.45843422, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.56201238, ..., 0.        , 1.        ,
        0.        ],
       [0.06521739, 0.        , 0.26472962, ..., 0.        , 0.        ,
        1.        ],
       [0.93478261, 0.        , 0.35270379, ..., 1.        , 0.        ,
        0.        ]])

In [139]:
x_scaled.shape

(1338, 8)